section.blog__contact
    .container
        //Sección Blog
        .row
            .col-xs-12.col-md-6

                    h2.text-xs-center.headBlogContact El Blog

                    a(href="#")
                        article
                            img(src="http://lorempixel.com/80/80/")
                            .detailPost
                                p.dateBlog JUN 16, 2017
                                p.resumeExcerpt Instalar Sublime Text 3 en Ubuntu

                    a(href="#")
                        article
                            img(src="http://lorempixel.com/80/80/")
                            .detailPost
                                p.dateBlog JUN 16, 2017
                                p.resumeExcerpt Instalar Sublime Text 3 en Ubuntu

                    a(href="#")
                        article
                            img(src="http://lorempixel.com/80/80/")
                            .detailPost
                                p.dateBlog JUN 16, 2017
                                p.resumeExcerpt Instalar Sublime Text 3 en Ubuntu

                    a(href="#").btn.btn-block.btn-secondary.btnAzul Ver todas las entradas del blog

            .col-xs-12.col-md-5.offset-md-1
                h2.text-xs-center.headBlogContact Contáctanos
                p En qué te podemos ayudar
                    form(action="#").contactForm
                        .form-group
                            label(for="nombre") Nombres:
                            input(type="text", placeholder="tu nombre").form-control
                            label(for="email") Email:
                            input(type="email", placeholder="tu correo").form-control
                            label(for="Mensaje") Email:
                            textarea(type="email", placeholder="tu mensaje", rows="3").form-control
                            button.m-t-1.btn.btn-block.btnAzul(type="submit") Enviar
