section.latestWorks
    .container
        h1.text-xs-center Últimos proyectos
        
        .owl-carousel
            a(href="#")
                
                img(src="http://lorempixel.com/300/200/", alt="")
                h4  Proyecto 1

            a(href="#")
                
                img(src="http://lorempixel.com/300/200/", alt="")
                h4  Proyecto 2

            a(href="#")
                
                img(src="http://lorempixel.com/300/200/", alt="")
                h4  Proyecto 3
            
            a(href="#")
                
                img(src="http://lorempixel.com/300/200/", alt="")
                h4  Proyecto 4
            
            a(href="#")
                
                img(src="http://lorempixel.com/300/200/", alt="")
                h4  Proyecto 5