section.workflow
    .container-fluid
        h1.text-xs-center Nuestro Workflow

        .row
            .col-xs
                img(src="images/workflow_1.svg", alt="")
                p Análisis
            .col-xs
                img(src="images/workflow_2.svg", alt="")
                p Diseño
        .row
            .col-xs
                img(src="images/workflow_3.svg", alt="")
                p Construcción
            .col-xs
                img(src="images/workflow_4.svg", alt="")
                p Lanzamiento
        .row
            .col-xs
                img(src="images/workflow_5.svg", alt="")
                p Soporte