section.workflow
    h1.text-xs-center Nuestro Workflow

    .container-fluid#contenedorWorkflow

        .row

            .col            
                img(src="images/workflow_1.png", alt="")
                p Análisis

            .col
                img(src="images/workflow_2.png", alt="")
                p Diseño

            .col
                img(src="images/workflow_3.png", alt="")
                p Construcción

            .col
                img(src="images/workflow_4.png", alt="")
                p Lanzamiento

            .col
                img(src="images/workflow_5.png", alt="")
                p Soporte