@import 'includes/variables.styl'

html
    font-size 16px

body
    font-family 'Roboto', sans-serif

&::selection
    background yellow

@import 'includes/header.styl'
@import 'includes/services.styl'
@import 'includes/workflow.styl'
@import 'includes/latestWorks.styl'
@import 'includes/blog_contact.styl'
@import 'includes/footer.styl'