.blog__contact
    .container

        h2.headBlogContact
            border-bottom 1px solid gris_2
            padding 1rem

        a
            text-decoration none
            color gris_3            

            article
                display flex
                margin-bottom 1rem
                align-items center
                align-content center

                .detailPost
                    margin-left 1rem

                    .dateBlog
                        font-weight bold