section.latestWorks
    background gris_1
    padding 1.5rem

    h1
        padding 1rem

    a
        text-decoration none

        h4
            font-size 1.5rem
            font-weight bold
            text-align center
            padding-top 1rem
            color gris_3
        
    .container
        padding-left 0
        padding-right 0

    .owl-nav
        display flex
        justify-content center
        margin .3rem 0
    
    .owl-prev, .owl-next
        font-size 3rem
        margin 0 .5rem
        color gris_3
        transition all .2s ease

        &:hover
            color gris_2