azul = #1BB7D0
azulOscuroBG = #222C37
verdeMenta = #20A599

gris_1 = #EEEEEF
gris_2 = #A7A7A6
gris_3 = #2B2B2B

workflow_1 = #009587
workflow_2 = #8BBF4C
workflow_3 = #E62264
workflow_4 = #1BB7D0
workflow_5 = #E74539
