<!DOCTYPE html>
html(lang="es")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //Bootstrap
    link(rel="stylesheet", href="css/bootstrap.min.css")

    //Bootstrap CDN
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

    //Font Awesome
    link(rel="stylesheet", href="css/font-awesome.min.css")

    //Animate
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

    //Carousel
    link(rel="stylesheet", href="css/owl.carousel.min.css")
    link(rel="stylesheet", href="css/owl.theme.default.min.css")

    //Fuente
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")

    //Estilos
    link(rel="stylesheet", href="css/estilos.css")
    title Swpro | Desarrollo de software

    
body
    include includes/encabezado.pug
    include includes/loquehacemos.pug
    include includes/workflow.pug
    include includes/latestWorks.pug
    include includes/blog_contact.pug
    include includes/footer.pug