<!DOCTYPE html>
html(lang="es")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //Bootstrap
    link(rel="stylesheet", href="css/bootstrap.min.css")

    //Font Awesome
    link(rel="stylesheet", href="css/font-awesome.min.css")

    //Fuente
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")

    //Estilos
    link(rel="stylesheet", href="css/estilos.css")
    title Swpro | Desarrollo de software
body
    include includes/encabezado.pug
    include includes/lorem.pug
    include includes/footer.pug